:root {
    --yellow: #EAC926;
    --dark-blue: #03264C;
    --light-blue: #1259c3;
    --gray: #666666;
    --light-gray: #ebebeb;
    --green: #39b54a;
    --base-font-family: 'Roboto', sans-serif
  }

  
.form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px auto;
}
.primary:hover{
    background-color: #1259c3;
    color: #e8e8e8;
    justify-content: center;
    align-items:flex-start;
    position: relative;
}
form :group input:focus{
    outline: none;
    border: 1px solid #39b54a;
}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
    box-sizing: border-box;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}
div.top-header{
    padding: 5%;
display: flex;
justify-content: space-between;
align-items: center;}

header{
    
    background-color:yellow;
    z-index: 1000;
    width: 100%;

}

header div.logo{
    width: 50%;
    min-width: 100px;
    padding: 10px;
    flex-grow: 0.5;
max-width: 200px;}
.banner{
    width: 100%;
    height : 100%;


}

header div.form{
    width: 33vw;
    display: flex;
    align-self: center;
    position: relative;
}
header nav {
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    align-items: center;
}

header ul{
    flex: 1 0 30%;
    display: flex;
    justify-content: space-between;
    align-items:flex-end;

}
header ul li{

    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
width: 100%;}
@keyframes animation{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
header div.form:hover .submit{
    animation: animation;
    
}
header .form .submit{
    position: absolute;

    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 30px;
    height: 25px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

header div.top-header p{
    width: 100;
    text-align: center;
    margin-top: 10px;
}

div.burger-menu{
    text-align: center;
    
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}
a{
    
align-items: self-start;}

.price{
    font-size: 18px;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3,
.description{
    color: #666;
}

.description{
    display: none;
    margin-top: 20px;
}

section.banner img{
    width: 100%;
}
section.offers img{
    width: 100%;
    box-sizing: border-box;

}

main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}

main section article i{
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
}

main section h3{
    margin: 20px 0px;
}

article div.main-article{
    position: relative;
    width: 100%;
    border-top: 1px solid #ebebeb;
    padding: 15px;
}
.fa-truck{
    right: 10%;
    top: 0;
    position: absolute;
}
.title{
    margin-top: 20px;
}
.card {
    position: relative;
    width: 45%;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.products{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (min-width: 361px){
    main section article .description{
        display: block;
    }

    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}





@media (min-width: 769px){
    .burger-menu{
        visibility: hidden;
    }
}




@media (min-width : 426px){
    .description{
        display: block;
    }
    .card :hover .description{
        visibility: visible;
    }
    .card{
        width: 45%;
       
    }
    .card:hover {
        box-shadow:  0px 0px 10px rgb(100, 100, 100);
    }
    .card:hover i{
        transform: rotate(-90deg);
    }
    main section article i{
        transition: transform 1s;
    }
    .products{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}